html, body { width: 100%; height: 100%; background-color: #fd7d13; }

@font-face {
	font-family: 'Bahiana', cursive;
	font-family: 'Raleway', sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Nixie One', cursive;
	font-family: 'Yatra One', cursive;
}

h1 {
	font: normal 100px 'Yatra One', cursive;
	text-align: center;
	margin: 40px;
	color: #fdfcf2;
	text-shadow:
	 0 1px #808d93,
	 -1px 0 #cdd2d5,
	 -1px 2px #808d93,
	 -2px 1px #cdd2d5,
	 -2px 3px #808d93,
	 -3px 2px #cdd2d5,
	 -3px 4px #808d93,
	 -4px 3px #cdd2d5;
	text-decoration: none;
}

h1>a {
	color: #fdfcf2;
	text-decoration: none;
}

h2 {
	font: normal 30px 'Raleway', sans-serif;
  text-align: center;
	margin: 0;
	color: white;
	text-decoration: none;
}

h3 {
		font: normal 60px 'Raleway', sans-serif;
	  text-align: center;
		margin: 25px 6% 60px 6%;
		color: white;
		text-decoration: none;
		float:left;
}

.projects>a {
	font: normal 30px 'Raleway', sans-serif;
  text-align: center;
	float:left;
	margin: 10px 11% 80px 7%;
	color: white;
	text-decoration: none;
}
#nav {
	width: 50%;
	font: normal 30px 'Raleway', sans-serif;
	color: white;
	margin: -30px 11% 80px -4%;
	text-decoration: none;
	position: absolute;
	list-style-type: none;
}
#nav ul li .show { display: none; position: absolute; list-style-type: none; text-decoration: none; }
#nav ul li:hover .show { display: block; list-style-type: none; margin: 39px 110px}
#nav ul li a{ font: normal 30px 'Raleway', sans-serif; color: white; list-style-type: none; }

ul { list-style-type: none; }

.about>a {
	font: normal 30px 'Raleway', sans-serif;
  text-align: center;
	float:right;
	margin: 10px 7% 80px 14%;
	color: white;
	text-decoration: none;

}
p {
	font: normal 20px 'Raleway', sans-serif;
	margin: 400px 15% 100px 15%;
	color: white;
	line-height: 1.3;
}

.email>p{
	margin: 0px auto;
	text-align: center;
}

.all>a {
	font: normal 30px 'Raleway', sans-serif;
	margin: 250px 0px;
	color: #75c59e;
	background-color: white;
	text-align: center;
	text-decoration: none;
	opacity: 0.8;
	line-height: 1;
	position: absolute;
	width: inherit;
}

.all a:hover {
	color: #56a0d3;
	font-style: italic;
}

.all:hover {
 opacity: 0.9;
}

.leftbox {
	width: 40%;
	height: 325px;
	margin: 3% 3% 3% 7%;
	float: left;
	display: block;
}

.rightbox{
	width: 40%;
	height: 325px;
	margin: 3% 7% 3% 3%;
	float: left;
	display: block;
}

.col-6 {width: 50%;}

.content.subheading.col-6{
    margin-left: 25%;
}

.community{
  background-image:url(community_magazine/screenshot.jpg);
  background-position: center;
  background-size: cover;
  float: left;
}

.missusa{
	background-image:url(Miss_USA/screenshot1.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.titanic{
	background-image:url(titanic.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.moon{
	background-image:url(Miss_USA/screenshot1.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.trump{
	background-image:url(trumpdrawing.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.window{
	background-image:url(rearwindow.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.emotions{
	background-image:url(emotionsclock.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.halloween{
	background-image:url(halloween.png);
	background-position: center;
	background-size: cover;
	float: left;
}

.poetry{
	background-image:url(what_we_love/1poetry_cover.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.alice{
	background-image:url(alice/1alice_cover.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.tiramisu{
	background-image:url(tiramisu/recipe.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.ikea{
	background-image:url(ikea/IKEA3.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.serra{
	background-image:url(serra/serra.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.font{
	background-image:url(font_book/typeface1.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.fola{
	background-image:url(fola/fola_poster.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.recipe2{
	background-image:url(recipe2/.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.rituals{
	background-image:url(rituals/screenshot.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}

.cuba{
	background-image:url(semana/semana12.jpg);
	background-position: center;
	background-size: cover;
	float: left;
}
