html, body { width: 100%; height: 100%; background-color: black; }

@font-face {
font-family: 'Akronim', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Geo', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Monofett', cursive;
font-family: 'Poller One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Yatra One', cursive;
font-family: 'Open Sans', sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Bahiana|PT+Serif|Open+Sans|Tangerine|Raleway|Press+Start+2P); }

h1 {
	font: normal 150px 'Press Start 2P', cursive;
	color: white;
	text-align: center;
	margin: 70px;
}

.eve {
		width: 260px;
		height: 610px;
		position: fixed;
		top: 175px; left: 1100px;
		text-decoration: none;
}
.eve:hover::before {
	content: "Go back home?";
	font: normal 15px 'Press Start 2P', cursive;
	color: white;
	position: absolute;
	top: 35px; left: 0px;
}

.eyenext {
	width: 120px;
	height: 60px;
	background: white;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	position: absolute;
	top: 1000px; left: 635px;
}
#pupilnext {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: black;
	position: absolute;
	top: 1000px; left: 668px;
}
.next:hover::before {
	content: "Next place?";
	font: normal 15px 'Press Start 2P', cursive;
	color: white;
	position: absolute;
	top: 978px; left: 617px;
}

/*arctic*/
.boat {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 760px; left: 90px;
}
.boat:hover::before {
	   content: "Over the past century, the global average sea level has risen four to eight inches. Melting Arctic ice is expected to speed up sea level rise. Some experts even estimate that the oceans will rise as much as 23 feet by 2100, which would flood major coastal cities and submerge some small island countries, causing untold devastation.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f438d0;
}

.glacier {
	width: 450px;
	height: 400px;
	position: absolute;
	top: 400px; left: 120px;
}
.glacier:hover::before {
	   content: "Arctic sea ice keeps the planet cool by reflecting sunlight. As the world gets warmer, the ice is melting and the oceans are absorbing sunlight. This makes the planet even warmer, causing the ice to melt even faster. As the Arctic ice melts, the oil under Arctic waters becomes an increasingly attractive target for the oil industry. This oil was once out of reach because the Arctic was frozen but is now accessible because of climate change. And the very companies responsible for climate change want more oil to make climate change worse.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f438d0;
}

.polarbear {
	width: 350px;
	height: 270px;
	position: absolute;
	top: 350px; left: 870px;
}
.polarbear:hover::before {
	content: "Climate change has already removed at least 75 percent of Arctic summer sea ice volume at rates never before experienced in human history. This threatens the unique environment the Arctic provides as well as its wildlife, indigenous population and their culture. Soon, the Arctic Ocean will be like other oceans for much of the year: open water that is exposed to exploitation and environmental destruction.";
	font: normal 17px 'Open Sans', sans-serif;
	background: #f438d0;
}

.ferrel {
	width: 300px;
	height: 350px;
	position: absolute;
	top: 700px; left: 700px;
}
.ferrel:hover::before {
	content: "The Atlantic sea current circulation moves heat toward the Arctic, and helps moderate wintertime temperatures in the high-latitude Northern Hemisphere. Ice melting in the Arctic could would release excessive amounts of freshwater into the North Atlantic and alter seawater density which, in time, would affect the flow of the ocean current, and create harsher weather extremes in Europe and North America. ";
	font: normal 17px 'Open Sans', sans-serif;
	background: #f438d0;
}

.penguin > a {
	width: 200px;
	height: 25px;
	font: normal 17px 'Open Sans', sans-serif;
	background: #f438d0;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 720px; left: 980px;
}
.penguin > a:hover::before {
	content: "Statoil, an oil company owned by the Norwegian state, plans to aggressively expand oil drilling in the melting Arctic. In a historic court case, GREENPEACE is suing the Norwegian government for allowing Statoil and many other oil companies to expand oil drilling in the Arctic.";
	font: normal 17px 'Open Sans', sans-serif;
	background: #f438d0;
}

/*ocean*/
.yellow {
	width: 300px;
	height: 210px;
	position: absolute;
	top: 660px; left: 110px;
}
.yellow:hover::before {
	   content: "There is an island of garbage twice the size of Texas inside the Pacific Ocean: the North Pacific Gyre off the coast of California is the largest oceanic garbage site in the entire world. There, the number of floating plastic pieces outnumbers total marine life six to one in the immediate vicinity.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f9f029;
}

.stripes {
	width: 390px;
	height: 200px;
	position: absolute;
	top: 400px; left: 270px;
}
.stripes:hover::before {
	   content: "A single cargo ship can produce as much air pollution as 350,000 cars in an hour. Cargo ships operate on diesel engines the size of a single-family home, and most burn “bunker” fuel, which is cheap, but much more polluting than fuels used to power vehicles. Bunker fuel contains high concentrations of toxic compounds banned from use in most other industrial and consumer applications.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f9f029;
}

.green > a {
	width: 265px;
	height: 24px;
	font: normal 17px 'Open Sans', sans-serif;
	text-decoration: none;
	color: black;
	background: #f9f029;
	position: absolute;
	top: 610px; left: 800px;
}
.green > a:hover::before {
	content: "Tell Donald Trump not to appoint corporate lobbyists in his Administration. We need a government that puts our interests and those of our planet, ahead of Big Oil’s, Wall Street’s and other corporations that favour industry over our planet. Donald Trump convinced voters that things would be different in his Administration, but so far he’s doing the opposite.";
  font: normal 17px 'Open Sans', sans-serif;
	background: #f9f029;
}

.group {
	width: 390px;
	height: 200px;
	position: absolute;
	top: 830px; left: 350px;
}
.group:hover::before {
	   content: "All up, reefs are home to 25% of all marine life, and form the nurseries for about a quarter of the ocean's fish -  including commercially important species that could end up on your dinner plate any night of the week. Roughly one-quarter of coral reefs worldwide are already considered damaged beyond repair, with another two-thirds under serious threat.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f9f029;
}

.small {
	width: 290px;
	height: 150px;
	position: absolute;
	top: 320px; left: 900px;
}
.small:hover::before {
	   content: "At this rate by 2100 more than half of the world’s marine species may stand on the brink of extinction.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f9f029;
}

/*jungle*/
.orangutan {
	width: 270px;
	height: 210px;
	position: absolute;
	top: 660px; left: 120px;
}
.orangutan:hover::before {
	   content: "The world’s rain forests could completely vanish in a hundred years at the current rate of deforestation. Some 46-58 thousand square miles of forest are lost each year—equivalent to 48 football fields every minute.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #2ae300;
}

.snake > a {
	width: 200px;
	height: 25px;
	font: normal 17px 'Open Sans', sans-serif;
	color: black;
	text-decoration: none;
	background: #2ae300;
	position: absolute;
	top: 320px; left: 900px;
}
.snake > a:hover::before {
	content: "Inform  yourself on all the important petitions that Rainforest Rescue has set up and get involved!";
	font: normal 17px 'Open Sans', sans-serif;
	background: #2ae300;
}

.parrot {
	width: 300px;
	height: 250px;
	position: absolute;
	top: 300px; left: 400px;
}
.parrot:hover::before {
	   content: "Forests play a critical role in mitigating climate change because they act as a carbon sink—soaking up carbon dioxide that would otherwise be free in the atmosphere and contribute to ongoing changes in climate patterns. Deforestation undermines this important carbon sink function. It is estimated that 15% of all greenhouse gas emissions are the result of deforestation.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #2ae300;
}

.dunkin {
	width: 400px;
	height: 270px;
	position: absolute;
	top: 670px; left: 460px;
}
.dunkin:hover::before {
	   content: "Agricultural products, such as soy and palm oil, are used in an ever-increasing list of products, from animal feed to lipstick and biofuels. For this reason Palm oil has become one of the world’s leading causes of rainforest destruction. Unchecked expansion has pushed palm oil plantations into the heart of some of the world’s most biologically diverse ecosystems and is among the biggest threats driving iconic wildlife species like the Sumatran orangutang to the brink of extinction in Indonesia.";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #2ae300;
}
