html, body { width: 100%; height: 100%; margin: 0px; background: url(dot_background.jpg) no-repeat center center fixed; background-size: cover; }

@font-face {
	font-family: 'Bungee', cursive;
	font-family: 'Rock Salt', cursive;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Yatra One', cursive;
	font-family: 'Exo', sans-serif;
	font-family: 'Play', sans-serif;
	font-family: 'Orbitron', sans-serif;
}

h1 {
	font: normal 190px 'Orbitron', sans-serif;
	text-align: center;
	margin: 100px auto;
	color: white;
	text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5 ;
}

	p {
		font: normal 85px 'Play', sans-serif;
	  margin: 0px 0 10px -5px;
		color: yellow;
		line-height: 1.5;
		text-align: center;
		width: 100%;
		text-decoration: none;
		background-color: black;
	}

	a {
	font: normal 70px 'Play', sans-serif;
	margin: 0px;
	color: yellow;
	text-decoration: none;
	display: inline-block;
}

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

.icons{
	position: fixed;
	bottom: -10px;
	width: 102%;
	margin: 0 0 0 -9px;
}
.week{
	position: fixed;
	top: 90%;
	left: 0;
	width: 21%;
	height: 10%;
}
.artists {
	position: fixed;
	top: 90%;
	left: 20%;
	width: 21%;
	height: 10%;
}
.genres {
	position: fixed;
	top: 90%;
	left: 40%;
	width: 21%;
	height: 10%;
}
.clubs {
	position: fixed;
	top: 90%;
	left: 60%;
	width: 21%;
	height: 10%;
}
.account {
	position: fixed;
	top: 90%;
	left: 80%;
	width: 21%;
	height: 10%;
}

.listing {
	margin-bottom: 120px;
	background-color:rgba(255, 255, 255, 0.6);
	border: 4px solid white;
	padding: 30px 0;
}
.last{
	margin-bottom: 250px;
}
.loadingtitle{
	font-size: 250px;
	margin-top: 200px;
}

.form {
	font: normal 85px 'Play', sans-serif;
  position: relative;
  text-transform: uppercase;
  color: yellow;
	margin: 250px 4% 80px 5%;
}

.form > div {
  width: 100%;
}

.username {
  background-color: black;
}

.password {
  background-color: black;
}

.login {
  background-color: rgba(255, 255, 255, 0.6);
	border: 4px solid white;
	padding: 20px 0;
  display: table;
}

.login a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

input {
  width: 80%;
  text-align: center;
  border: 0;
  outline: 0;
  color: black;
  background: yellow;
  border: 4px yellow solid;
	margin: 10% 10%;
  font: normal 85px 'Play', sans-serif;
}

::placeholder {
  color: black;
}
